@model IEnumerable<FirstTry.Models.User>

@{
    Layout = null;
}

<table class="table dataTable table-striped table-bordered display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullNane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullNane)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> |
                    <a onclick="Delete(@item.Id)" class="btn btn-danger remove">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    var table = $('.dataTable').DataTable({
        responsive: true
    });

</script>