@model FirstTry.Models.ToDo

@{
    Layout = null;
}


<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Done)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Done)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>

